<?xml version="1.0" encoding="utf-8" ?>
<log4net>

	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<file value="appData/logs/log.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="20" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>

	<appender name="NHibRollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="appData/logs/nhib_log.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="20" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
	</appender>
	<appender name="NHibSQL" type="log4net.Appender.RollingFileAppender">
		<file value="appData/logs/nhib_sql_log.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="20" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
	</appender>
	<appender name="EFRollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="appData/logs/ef_log.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="20" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
	</appender>
	<appender name="EFSQL" type="log4net.Appender.RollingFileAppender">
		<file value="appData/logs/ef_sql_log.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="20" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
	</appender>

	<root>
		<level value="ALL" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>

	<logger name="NHibernate.SQL" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="NHibSQL" />
	</logger>
	<!-- 
      NHibernate.Loader.Loader logs diagnostic stuff and SELECTs. 
      You can use either logger, or both, depending on you needs.
    -->
	<logger name="NHibernate" additivity="false">
		<level value="INFO" />
		<appender-ref ref="NHibRollingFileAppender" />
	</logger>
	<!--
		Entity Framework Log
	-->
	<logger name="Microsoft.EntityFrameworkCore" additivity="false">
		<level value="INFO" />
		<appender-ref ref="EFRollingFileAppender" />
	</logger>
	<logger name="Microsoft.EntityFrameworkCore.Database.Command" additivity="false">
		<level value="INFO" />
		<appender-ref ref="EFSQL" />
	</logger>

</log4net>